.lovewarp {
  display: inline-block;
  background:url('../image/love.png') no-repeat center center /100%;
}
.lovewarp.active {
  display: inline-block;
  background:url('../image/loveactive.png') no-repeat center center /100%;
}